/**
                         ,       gruvbox        ,      gruvbox-marslo
     -----------------------------------------------------------------------
     bg+        : #3F3F3F,     bg+     : #3c3836,       bg+        : #272727,
     bg         : #4B4B4B,     bg      : #32302f,       bg         : #3c3836,
     border     : #6B6B6B,
     spinner    : #98BC99,     spinner : #fb4934,       spinner    : #e6db74,
     hl         : #719872,     hl      : #928374,       hl         : #928374,
     fg         : #D9D9D9,     fg      : #ebdbb2,       fg         : #ebdbb2,
     header     : #719872,     header  : #928374,       header     : #928374,
     info       : #BDBB72,     info    : #8ec07c,       info       : #504945,
     pointer    : #E12672,     pointer : #fb4934,       pointer    : #98971a,
     marker     : #E17899,     marker  : #fb4934,       marker     : #d79921,
     fg+        : #D9D9D9,     fg+     : #ebdbb2,       fg+        : #ebdbb2,
     preview-bg : #3F3F3F,
     prompt     : #98BEDE,     prompt  : #fb4934,       prompt     : #404945,
     hl+        : #98BC99,     hl+     : #fb4934,       hl+        : #fb4934,



            nord-vim     ,        molokai       ,          seoul256
     -----------------------------------------------------------------------
     bg+        : #3B4252,     bg+     : #293739,       bg+        : #D9D9D9,
     bg         : #2E3440,     bg      : #1B1D1E,       bg         : #E1E1E1,
                               border  : #808080,       border     : #C8C8C8,
     spinner    : #81A1C1,     spinner : #E6DB74,       spinner    : #719899,
     hl         : #616E88,     hl      : #7E8E91,       hl         : #719872,
     fg         : #D8DEE9,     fg      : #F8F8F2,       fg         : #616161,
     header     : #616E88,     header  : #7E8E91,       header     : #719872,
     info       : #81A1C1,     info    : #A6E22E,       info       : #727100,
     pointer    : #81A1C1,     pointer : #A6E22E,       pointer    : #E12672,
     marker     : #81A1C1,     marker  : #F92672,       marker     : #E17899,
     fg+        : #D8DEE9,     fg+     : #F8F8F2,       fg+        : #616161,
                                                        preview-bg : #D9D9D9,
     prompt     : #81A1C1,     prompt  : #F92672,       prompt     : #0099BD,
     hl+        : #81A1C1,     hl+     : #F92672,       hl+        : #719899,

**/
